<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title><%= assigns[:page_title] || "Toki Pona Flashcards" %></.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-black">
    <header class="flex place-content-between place-items-center my-3">
      <div class="pl-6">
        <.link href={~p"/cards"} class="font-sitelen text-violet-300 text-5xl">
          kama-sona
        </.link>
      </div>
      <div>
        <%= if @current_user do %>
          <span class="pr-6 text-violet-200"><%= @current_user.email %></span>
          <.link
            href={~p"/users/settings"}
            class="pr-6 leading-6 text-violet-200 font-semibold hover:text-violet-50"
          >
            <.icon name="hero-cog" />
          </.link>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="pr-6 leading-6 text-violet-200 font-semibold hover:text-violet-50"
          >
            Log out
          </.link>
        <% else %>
          <.link
            href={~p"/users/register"}
            class="pr-6 leading-6 text-violet-200 font-semibold hover:text-violet-50"
          >
            Register
          </.link>
          <.link
            href={~p"/users/log_in"}
            class="pr-6 leading-6 text-violet-200 font-semibold hover:text-violet-50"
          >
            Log in
          </.link>
        <% end %>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
