<.flash_group flash={@flash} />
<div class="grid place-content-center h-svh -mt-[9rem]">
  <div class="bg-violet-800 text-violet-100 p-10 rounded-xl text-2xl">
    Toki Pona Flashcards
    <div class="text-center text-lg">Email: tres@treshenry.net</div>
  </div>
</div>
