<.flash_group flash={@flash} />
<div class="grid place-content-center h-svh -mt-[9rem]">
  <div class="bg-violet-800 text-violet-100 p-16 rounded-xl">
    <p class="text-center text-4xl"><span class="font-sitelen">toki-pona</span> Flashcards</p>
    <p class="text-center text-lg mt-6">Questions or concerns?</p>
    <p class="text-center text-lg">Email me at tres@treshenry.net</p>
  </div>
</div>
